[package]
name = "tenet-api-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-graphql = "4.0.16"
tokio = { version = "1.8", features = ["macros", "rt-multi-thread"] }
poem = "1.3.48"
async-graphql-poem = "4.0.16"
